{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    {% block styles %}
    <meta charset="UTF-8">
    <title>Beaver Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#03a6f3">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/styles.css">
 <!-- deploy python flask-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900' rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{ font_url1 }}">
    <link rel="stylesheet" href="{{ font_url2 }}">
    {% endblock %}
</head>
<body>
    <header>
        <div class="main-menu">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="index.html">Beaver Books</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="navbar-item active">
                                <a href="admin.html" class="nav-link">Admin</a>
                            </li>
                            <li class="navbar-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="navbar-item">
                                <a href="shop.html" class="nav-link">Shop</a>
                            </li>
                            <li class="navbar-item"> 
                                <a href="about.html" class="nav-link">About</a>
                            </li>
                            <li class="navbar-item">
                                <a href="shopping_cart.html" class="fa fa-shopping-cart"></a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search here..." aria-label="Search">
                            <span class="fa fa-search"></span>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    
    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">Admin</span>
        </div>
    </div>

    <div>
        <h1 style="padding-bottom: 10px; font-size: 30px;">Available Books</h1>
        <p class="btn black" style="align-content: center; margin-left: 1290px;" align="center">add books</p>
    <table style="width:50%; margin-bottom: 20px; text-align: center;" align="center" border="1px black">
        <tr>
          <th>order_id</th>
          <th>isbn</th>
          <th>author_id</th>
          <th>title</th>
          <th>price</th>
          <th>publisher_id</th>
          <th>year</th>
          <th style="width: 10px;">delete</th>
        </tr>
            {% for r in rows %}
            <tr>
              <td> {{ r.0 }}</td>
              <td> {{ r[1] }}</td>
              <td> {{ r[2] }}</td>
              <td> {{ r[3] }}</td>
              <td> {{ r[4] }}</td>
              <td> {{ r[5] }}</td>
              <td> {{ r[6] }}</td>
              <td> <input class="btn black" name='delete' value="delete" style="width: 100px;" onclick="window.location = '/update_people/{{r[4]}}'"></td>
            </tr>
            {% endfor %}
      </table>

      <h1 style="padding-bottom: 10px; font-size: 30px;">User List</h1>
  <table style="width:50%; margin-bottom: 20px; text-align: center;" align="center" border="1px black">
      <tr>
        <th>order_id</th>
        <th>email</th>
        <th>first_name</th>
        <th>last_name</th>
        <th>address</th>
        <th>password</th>
        <th style="width: 10px;">delete</th>
    </tr>
    {% for r in rows2 %}
    <tr>
      <td> {{ r.0 }}</td>
      <td> {{ r[1] }}</td>
      <td> {{ r[2] }}</td>
      <td> {{ r[3] }}</td>
      <td> {{ r[4] }}</td>
      <td> {{ r[5] }}</td>
      <td> <input class="btn black" name='delete' value="delete" style="width: 100px;" onclick="window.location = '/update_people/{{r[4]}}'"></td>
    </tr>
    {% endfor %}
      </tr>
    </table>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="center">
                    <div class="login_address">
                        <h4>Our Address</h4>
                        <h6>Oregon State University, Corvaills, OR, USA</h6>
                        <h6>Call : 541 123 4567</h6>
                        <h6>Email : beaverbooks@gmail.com</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h5>(C) 2020. All Rights Reserved. Beaver Books</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="share align-middle">
                            <span class="fb"><i class="fa fa-facebook-official"></i></span>
                            <span class="instagram"><i class="fa fa-instagram"></i></span>
                            <span class="twitter"><i class="fa fa-twitter"></i></span>
                            <span class="pinterest"><i class="fa fa-pinterest"></i></span>
                            <span class="google"><i class="fa fa-google-plus"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% block scripts %}
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>

    <!-- deploy python flask-->

    <script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{url_for('static', filename='js/custom.js') }}"></script>
    {% endblock %}
{% endblock %}
</body>
</html>
